body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background-color: #6783bb;
  overflow: hidden;
  display: block;
  -webkit-font-smoothening: antialiased;
  -moz-osx-font-smoothening: grayscale;
}


