.text-zone {
    width: 80%;
    margin: auto
}

h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 120px;
    position: relative;
}

h2:before {
    content: "Frontend Developer";
    position: absolute;
    top: 0;
    left: 0;
    color: #8a307e;
    width: 0%;
    overflow: hidden;
    transition: all 0.7s;
}

h2:hover:before {
    width: 100%
}