.nav-bar {
  // background-color: #181818;
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}

.hamburger-icon,
.close-icon {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #4d4d4e;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  transition: all 0.5s;
}

a:hover {
  color: whitesmoke;
  .icon {
    color: whitesmoke;
  }
}

nav span {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #262626;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: top;
}
nav a:hover span {
  transform: scaleY(1);
}

nav span:nth-child(2) {
  left: 20%;
  transition-delay: 0.2s;
}
nav span:nth-child(3) {
  left: 40%;
  transition-delay: 0.4s;
}
nav span:nth-child(4) {
  left: 60%;
  transition-delay: 0.6s;
}
nav span:nth-child(5) {
  left: 80%;
  transition-delay: 0.8s;
}

.dark-mode-toggle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    background: transparent;
    position: initial;
    height: auto;
    min-height: auto;

    ul,
    nav {
      display: none;
    }

    nav {
      width: 100%;
      top: 0;
      left: 0;
      background: #181818;
      height: 100%;
      margin: 0;
      z-index: 2;
      position: fixed;

      &.mobile-show {
        display: block;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:after {
        opacity: 1;
        position: initial;
        width: auto;
        margin-left: 10px;
      }

      a svg {
        opacity: 1 !important;
      }
    }

    .hamburger-icon,
    .close-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
    }
  }
}
